@import '../../../../styles/variables.scss';

.header-wrapper {
  background-color: $main-background;
  height: $header-height-desktop;
  box-shadow: 0 1px #ffffff05;

  .logo-div {
    height: auto;
    max-width: 200px;

    img {
      max-height: 40px;
    }
  }

  .user-info {
    .user-balance {
      box-shadow: 0 1px #ffffff05, inset 0 1px 1px #0000001a;
      height: 40px;
      border-radius: 8px;

      span {
        color: white;
      }
    }

    .user-avatar {
      .avatar {
        width: 40px;
        height: 40px;
        border: 3px solid $grey;
      }
    }
  }
}
