<div class="header-wrapper flex items-center justify-between px-4 w-full">
  <div class="logo-div">
    <img class="w-full" src="assets/images/logo.png">
  </div>

  <ng-container *ngIf="user; else notLoggedIn">
    <div class="user-info flex">
      <div class="user-balance w-max flex items-center mr-4 px-4">
        <img src="assets/images/coin.svg" class="mr-4" />

        <span class="font-bold">{{user.wallets[0].amount.toLocaleString('en-US', {minimumFractionDigits: 2})}}</span>
      </div>
      <div class="user-avatar">
        <img [src]="user.avatar" class="avatar rounded-full">
      </div>
    </div>
  </ng-container>

  <ng-template #notLoggedIn>
    <div class="login-div">
      <button class="login-button success-button" (click)="redirectToLogin()">Login</button>
    </div>
  </ng-template>
</div>
