@import '../../../../styles/variables.scss';

.header-wrapper {
  background-color: $main-background;
  height: $header-height-desktop;

  .logo-div {
    height: auto;
    max-width: 200px;

    img {
      max-height: 40px;
    }
  }

  .login-div {
    button {
      background-color: $success-green;
      height: 40px;
      width: 120px;
      color: white;
      font-size: 12px;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: bold;
      box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
      transition: 0.2s background-color ease-in-out;

      &:hover {
        background-color: $dark-success-green;
      }
    }
  }
}
