<div class="header-wrapper flex items-center justify-between px-4 w-full">
  <div class="logo-div">
    <img class="w-full" src="assets/images/logo.png">
  </div>

  <ng-container *ngIf="user; else notLoggedIn">
    <div class="user-info flex">
      <agg-wallet-balance></agg-wallet-balance>

      <div class="user-avatar">
        <img [src]="user.avatar" class="avatar rounded-full">
      </div>
    </div>
  </ng-container>

  <ng-template #notLoggedIn>
    <div class="login-div">
      <button class="login-button success-button" (click)="redirectToLogin()">Login</button>
    </div>
  </ng-template>
</div>
