@import '../../../../styles/variables.scss';

.box-list-wrapper {
  background-color: $light-background;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  .boxes-wrapper {
    overflow: auto;
    height: 100%;
    padding: 16px;
  }
}
