@import '../../../../styles/variables.scss';
@import '../../../../styles/animations.scss';

.box-list-wrapper {
  background-color: $light-background;
  border-radius: 8px;

  .boxes-wrapper {
    overflow: auto;
    height: 100%;
    padding: 16px;
  }

  .loading-div {
    .loading-image {
      width: 150px;
      height: 150px;
      animation-name: loading;
      animation-duration: 10s;
    }
  }
}

@media only screen and (max-width: 569px) {
  .boxes-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 8px;
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 570px) {
  .boxes-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }
}
