<div class="box-list-wrapper w-full h-full">
  <ng-container *ngIf="isLoading; else loaded">
    <div class="loading-div w-full h-full flex items-center justify-center">
      <img class="loading-image" src="assets/images/loading.svg" />
    </div>
  </ng-container>

  <ng-template #loaded>
    <div class="boxes-wrapper grid">
      <ng-container *ngIf="boxes; else noBoxes">
        <agg-box-card *ngFor="let box of boxes" [box]="box"></agg-box-card>
      </ng-container>
    </div>

  </ng-template>

  <ng-template #noBoxes></ng-template>
</div>
