$main-background: #1D2126;
$light-background: #21252B;

$success-green: #00CA58;
$dark-success-green: #00AD4B;

$dark-box-green: #1e3930;
$light-box-green: #00e258;
$grey: #bcbebf;

$box-card-background: #31353D;
$box-hover-background: #2C4840;


$header-height-desktop: 64px;

