<div class="modal-wrapper absolute flex flex-col items-center justify-center top-0 w-full h-full"
  [ngClass]="isOpened ? 'show' : 'hidden'">
  <div class="modal-backdrop absolute w-full h-full top-0" (click)="close()"></div>

  <div class="modal absolute">
    <header class="absolute top-0 right-0 text-right p-4">
      <button class="font-bold cursor-pointer" (click)="close()">X</button>
    </header>

    <main class="modal-content flex w-full h-full p-4">
      <ng-container *ngIf="isLoading; else loaded">
        <div class="loading-div flex h-full w-full items-center justify-center">
          <img class="loading-image" src="assets/images/loading.svg" />
        </div>
      </ng-container>

      <ng-template #loaded>
        <div class="box-info">
          <ng-container *ngIf="boxData">
            <agg-box-card (customClick)="openCase($event)" [box]="boxData" variant='open'></agg-box-card>
          </ng-container>
        </div>

        <div class="flex flex-col overflow-auto w-full" *ngIf="boxOpenings.length > 0">
          <p class="openings-title text-center font-bold mb-4">Your openings results:</p>
          <div class="box-opening-result overflow-auto w-5/6 h-full flex items-center px-4x m-auto gap-4">
            <agg-item-card *ngFor="let opening of boxOpenings" [itemVariant]="opening.itemVariant"></agg-item-card>
          </div>
        </div>
      </ng-template>
    </main>
  </div>
</div>
