@import '../../../../styles/variables.scss';
@import '../../../../styles/animations.scss';

::ng-deep {
  .open-box-modal-panel {
    mat-dialog-container {
      @media only screen and (max-width: 674px) {
        width: 95vw;
        padding: 0;
      }

      @media only screen and (min-width: 768px) {
        width: 1081px;
      }

      min-height: 350px;
      height: fit-content;
      border-radius: 8px;
      background-color: $box-card-background;
      z-index: 3;

      header {
        button {
          color: white;
        }
      }

      .modal-content {
        min-height: 350px;

        .loading-div {
          min-height: 350px;

          .loading-image {
            width: 150px;
            height: 150px;
            animation-name: loading;
            animation-duration: 10s;
          }
        }

        .box-info {
          max-width: 245px;
        }

        .box-opening-result {
          background: $main-background;
          border-radius: 16px;
        }

        .openings-title {
          color: white;
        }

        .try-again {
          button {
            width: 100% !important;
          }
        }
      }
    }
  }
}
