<div class="box-card-wrapper w-full h-full flex flex-col items-stretch" [ngClass]="variant">
  <header class="mb-4 w-full">
    <img class="m-auto w-full h-full max-w-full" [src]="boxData?.iconUrl"
      onError="this.src='http://placehold.it/180x180'" />
  </header>

  <main class="box-info flex flex-col items-center mb-4">
    <div class="box-name font-bold w-full text-center">
      <p class="truncate">{{boxData?.name}}</p>
    </div>

    <div class="box-cost w-max flex items-center justify-center m-auto">
      <img src="assets/images/coin.svg" />
      <p class="ml-1 font-bold">{{boxData?.cost?.toLocaleString('en-US')}}</p>
    </div>

    <ng-container *ngIf="variant === 'open'">
      <div class="box-opening-qt flex justify-center mt-4 mb-2 w-full">
        <div class="opening-qt font-bold flex items-center justify-center" *ngFor="let qt of openingQt"
          [ngClass]="selectedQt === qt ? 'selected' : ''" (click)="selectQt(qt)">
          {{qt}}
        </div>
      </div>
    </ng-container>
  </main>

  <footer>
    <button class="open-case-button success-button" (click)="handleOpenCaseClick()">
      open case
    </button>
  </footer>
</div>
