@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/variables.scss';
@import './styles/overridematerial.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.success-button {
  background-color: $success-green;
  height: 40px;
  width: 120px;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: $dark-success-green;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
